/* =============   Footer	============= */

.footer {
	height: 40px;
	bottom: 0px;
	left: 0;
	line-height: 40px;
	position: absolute;
	padding: 0px 15px;
	width: 100%;
	background-color: #fbfbfb;
	border-top: 1px solid #e1e8ed;
}